<%- include header %>
<p>
<% if (user && (user.name == post.name)) { %>
  <span><a class="edit" href="/edit/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">编辑</a></span>
  <span><a class="edit" href="/remove/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">删除</a></span>
<% } %>
</p>
<p class="info">
  作者：<a href="/u/<%= post.name %>"><%= post.name %></a> |
  日期：<%- post.time.minute %>
  标签：
  <% post.tags.forEach(function (tag, index) { %>
      <% if (tag) { %>
        <a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
      <% } %>
  <% }) %>
</p>
<p><%- post.post %></p>
<%- include comment %>
<%- include footer %>
