<br/>
<% post.comments.forEach(function (comment, index) { %>
  <p>
    <a href="<%= comment.website %>"><%= comment.name %></a>
    <span class="info"><%= comment.time %></span>
    <p><%- comment.content %></p>
  </p>
<% }) %>

<form method="post">
  <% if (user) { %>
  <input type="text" name="name" value="<%= user.name %>" /><br/>
  <input type="text" name="email" value="<%= user.email %>" /><br/>
  <input type="text" name="website" value="/u/<%= user.name%>" /><br/>
  <% } else { %>
  <input type="text" name="name" /><br/>
  <input type="text" name="email" /><br/>
  <input type="text" name="website" value="http://" /><br/>
  <% } %>
  <textarea name="content" cols="80" rows="5"></textarea><br/>
  <input type="submit" value="留言" />
</form>
