<%- include header %>

<% posts.forEach(function (post, index) { %>
    <p><h2><a href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>"><%= post.title %></a></h2></p>
    <p class="info">
      作者：<a href="/u/<%= post.name %>"><%= post.name %></a> |
      日期：<%= post.time.minute %>
      标签：
      <% post.tags.forEach(function (tag, index) { %>
          <% if (tag) { %>
            <a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
          <% } %>
      <% }) %>
    </p>
    <p><%- post.post %></p>
<% }) %>

<%- include paging %>
<%- include footer %>
