<%- include header %>
<form method="post">
  用户名：<input type="text" name="name"/> <br/>
  密码：<input type="password" name="password"/> <br/>
        <input type="submit" value="登录" />
</form>
<%- include footer %>
