<%- include header %>

<form method="post">
  标题：<br/>
  <input type="text" name="title" /><br/>
  正文：<br/>
  <textarea name="post" rows="20" cols="100"></textarea><br/>
  标签:<br/>
  <input type="text" name="tag1" /><input type="text" name="tag2"/><input type="text" name="tag3"/><br/>
  <input type="submit" value="发表" />
</form>
<%- include footer %>
