<%- include header %>

<form method="post">
  用户名：<input type="text" name="name" /><br />
  密码：<input type="password" name="password"/> <br/>
  确认密码：<input type="password" name="password-repeat"/><br/>
  邮箱：<input type="text" name="email" /><br />
  <input type="submit" name="注册" />
</form>

<%- include footer %>
