<%- include header %>
<form method="post" action="/upload" enctype="multipart/form-data">
  <input type="file" name="file1"/><br/>
  <input type="file" name="file2"/><br/>
  <input type="file" name="file3"/><br/>
  <input type="file" name="file4"/><br/>
  <input type="file" name="file5"/><br/>
  <input type="submit"/>
</form>
<%- include footer %>
